.sidebar-container {
  top: 150px;
  left: 200px;
  width: 260px;
  height: 707px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
.home-text {
  top: 190px;
  left: 270px;
  width: 43px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;
  margin-left: 5px;
}
.home-logo-container {
  top: 192px;
  left: 236px;
  width: 16px;
  height: 17px;
  background: transparent url("../../assets/home.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.sidebar-logo-and-text-container {
  display: flex;
  align-items: center;
}
.notifications-text {
  top: 246px;
  left: 270px;
  width: 93px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #8d8d8d;
  opacity: 1;
  margin-left: 5px;
}
.notifications-logo-container {
  top: 247px;
  left: 237px;
  width: 15px;
  height: 18px;
  background: transparent url("../../assets/notification.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.shop-logo-container {
  top: 305px;
  left: 236px;
  width: 16px;
  height: 14px;
  background: transparent url("../../assets/heart1.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.shop-text {
  top: 302px;
  left: 270px;
  width: 38px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #8d8d8d;
  opacity: 1;
  margin-left: 5px;
}
.conversation-logo-container {
  top: 360px;
  left: 235px;
  width: 18px;
  height: 16px;
  background: transparent url("../../assets/message.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.conversation-text {
  top: 358px;
  left: 270px;
  width: 98px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #8d8d8d;
  opacity: 1;
  margin-left: 5px;
}
.wallet-logo-container {
  top: 417px;
  left: 235px;
  width: 18px;
  height: 15px;
  background: transparent url("../../assets/message1.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.wallet-text {
  top: 414px;
  left: 270px;
  width: 48px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #8d8d8d;
  opacity: 1;
  margin-left: 5px;
}
.subscription-logo-container {
  top: 471px;
  left: 235px;
  width: 18px;
  height: 18px;
  background: transparent url("../../assets/favorite.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.subscription-text {
  top: 470px;
  left: 270px;
  width: 92px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #8d8d8d;
  opacity: 1;
  margin-left: 5px;
}
.profile-logo-container {
  top: 528px;
  left: 238px;
  width: 13px;
  height: 16px;
  background: transparent url("../../assets/profile.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.profile-text {
  top: 526px;
  left: 270px;
  width: 71px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #8d8d8d;
  opacity: 1;
  margin-left: 5px;
}
.settings-logo-container {
  /* Layout Properties */
  top: 584px;
  left: 237px;
  width: 15px;
  height: 16px;
  /* UI Properties */
  background: transparent url("../../assets/setting.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.settings-text {
  top: 582px;
  left: 270px;
  width: 61px;
  height: 19px;
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #8d8d8d;
  opacity: 1;
  margin-left: 5px;
}
.logout-logo-container {
  cursor: pointer;
  width: 19px;
  height: 15px;
  background: transparent url("../../assets/logout.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.logout-text {
  cursor: pointer;
  width: 56px;
  height: 19px;
  /* UI Properties */
  color: var(--unnamed-color-88c2bb);
  text-align: left;
  font: normal normal 600 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #88c2bb;
  opacity: 1;
}

.sidebar {
  height: 700px;
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo {
  top: 67px;
  left: 235px;
  width: 89px;
  height: 34px;
  text-align: left;
  font: normal normal normal 32px/44px Mongolian Baiti;
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

.navigation {
  margin-top: 30px;
  width: 100%;
  padding-left: 50px;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  margin: 5px 0;
}

.logout {
  margin-top: auto;
  padding: 20px;
  color: #88c2bb;
  cursor: pointer;
}
